.mainPanel{
    margin: 30px;
    height: 773px;
    background-color: #61b161;
    padding: 20px;
}

.personData{
    width: 140px;
    text-align: center;
    list-style-type: none;
}

.personImage{
    border-radius: 50%;
    width: 140px;
    height: 140px;
    background-color: azure;
}

.personData a{
    font-size: 35px;
    padding: 10px 10px;
}

.firstLastName a{
    font-size: 20px;
    padding: 0;
}

.about{
    list-style-type: none;
    float: right;
    font-size: 25px;
    width: 90%;
    color: white;
}

.settingsWindow{
    float: left;
    height: 50%;
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.settingWindow{
    font-size: 35px;
}

.myPictures,
.addingPicture,
.updateInformation{
    width: 150px;
    height: 150px;
    background-color:blueviolet;
    margin: 0 auto;
}


@media screen and (max-width: 1200px) {

}
