@import 'forSchems/TopPanelStyle.css';
@import 'home/homeStyle.css';
@import 'registration/registrationStyle.css';
@import 'personalArea/personalAreaStyle.css';
@import 'personalArea/createCardStyle.css';
@import 'bootstrap';

html{
    min-height: 100%;
    position: relative;
}

body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0;
}
