.topPanel {
    position: sticky;
    left: 0;
    right: 0;
    top: 0;
    height: 80px;
    background-color: #405b48;
}

.topPanelText button{
    background-color: transparent;
    border: transparent;
    color: white;
    font-size: 27px;
    vertical-align: middle;
    transition: all 500ms ease;
    cursor: pointer;
}

.topPanelText button:hover{
    background: rgba(0,0,0,0);
	color: #a60d2e;
    transition: all 500ms ease;
    cursor: pointer;
}

button#logo {
    font-size: 45px;
}

#imageSize {
    height: 70px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding-top: 12px;
    text-decoration: none;
}

li img {
    display: block;
    color: white;
    text-align: center;
    padding: 0px 40px;
    text-decoration: none;
}

ul li:nth-child(1),
ul li:nth-child(2) {
    float: left;
}

div.circle{
    top: 10px;
    width: 80px;
    height: 80px;
    background: #83A7C9;
    border-radius: 50%;
}

button.mini{
    padding-top: 25px;
    padding-bottom: 25px;
    padding-right: 60px;
    padding-left: 10px;
}

a.mini{
    padding-top: 0px;
}

div.hidden{
    position: fixed;
    top: 80px;
    right: -300px;
    width: 300px;
    height: 500px;
    border-radius: 0 0 0 40px;
    background-color: #839f23;
    transition: all 400ms ease;
}

button.mini:hover div.hidden{
    right: 0;
    transition: all 400ms ease;
}

.buttonHidenBlock a{
    padding-top: 30px;
}

a.buttonHidenBlock{
    padding-top: 170px;
}
