#registrationWindow{
    margin: 100px 0 0;
    top: 100px;
    width: 350px;
    background-color: #86a023;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    border-radius: 30px;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, .2);
}

.registrationFields{
    margin: 0;
}

.addHeightTable table{
    margin-bottom: 30px;
}

td.registrationFields
{
    padding-top: 25px;
}

.registrationFields input{
    border: 0;
    border-radius: 10px;
    width: 250px;
    height: 30px;
    text-align: center;
    transition: all 200ms ease;
    box-shadow: 5px 5px 5px 0px #45500e;
}

.registrationFields input:focus{
    transition: all 200ms ease;
    outline: 2px solid black;
}

.restOfItWindow{
    width:100%;
    display: flex;
    justify-content: center;
}

#bigText{
    font-size: 45px;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#reduceSize{
    padding-top: 0;
    padding-bottom: 0;
}

#bigButton{
    height: 40px;
    width: 100%;
    font-size: larger;
    background-color: #005b0c;
    color: white;
    border: 0;
    transition: all 150ms ease;
}

#bigButton:hover{
    cursor: pointer;
    background-color: #313c04;
    color: white;
    transition: all 150ms ease;
}

.borderRed{
    outline: 2px solid red;
}

.registrationFields a{
    font-size: 20px;
    color: white;
    text-decoration:none;
}
